# Project data (keep .gitkeep if you want the folder tracked)
data/**
!data/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment & tooling files
.python-version
.env
.env.*.local
*.env

# Packaging / build artifacts
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
wheels/
share/python-wheels/
pip-wheel-metadata/

# Testing / coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/
*.cover
*.py,cover

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# C extensions / Cython
*.so
cython_debug/

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# claude json
.settings.local.json
.claude/**
